# Práctica Guiada 2: DataFrames y SQL

## 2. Utilizar Pandas Dataframes en Python para manipular una Base de Datos SQLite

#### 1. Importar packages de sqlite3 y pandas

In [ ]:
import sqlite3
import pandas as pd
from pandas.io import sql

#### 2. Conectarse a la Base de Datos (la misma o una nueva).

In [ ]:
sqlite_db = 'test_db2.sqlite'
conn = sqlite3.connect(sqlite_db)

#### 3. Leer el CSV y guardarlo en una estructura Pandas. Mostrar su contenido.

In [ ]:
data = pd.read_csv('housing.csv', low_memory=False)
data.head()

#### 4. Almacenarlo en la Base de Datos, en una nueva tabla houses_pandas

In [ ]:
data.to_sql('houses_pandas', con=conn,
            if_exists='replace', index=False)

#### 5.Consultar el contenido de la tabla (e.g.: los primeros 10 registros) mediante el comando SELECT

In [ ]:
# Mostrar directamente el resultado
sql.read_sql('select * from houses_pandas limit 10', con=conn)

# Alternativa: Guardar el resultado en una estructura Pandas para luego mostrarlo. En este caso sólo 5 registros
# data2 = sql.read_sql('select * from houses_pandas limit 5', con=conn)
# data2.head()

### Practicar las consultas sobre la tabla houses_panda

#### 1. Traer todos los campos de todos los registros.

In [ ]:
sql.read_sql('select * from houses_pandas', con=conn)

#### 2. Mostrar los valores de los campos sqft y bdrms para todos los registros

In [ ]:
sql.read_sql('select sqft, bdrms from houses_pandas', con=conn)

#### 3. Mostrar dichos valores para casas de más de 50 años

In [ ]:
sql.read_sql('select sqft, bdrms from houses_pandas where age > 50', con=conn)

### Funciones de Agregación

#### Permiten responder preguntas:

#### 1. ¿Cuántas casas se vendieron en total?

In [ ]:
sql.read_sql('select count(*) from houses_pandas', con=conn)

#### 2. ¿Cuánto cuesta la casa más cara? ¿Y la más barata?

In [ ]:
sql.read_sql('select min(price), max(price) from houses_pandas', con=conn)

#### 3. ¿Cuál es la superficie promedio de las casas de 2 dormitorios?

In [ ]:
sql.read_sql('select avg(sqft) from houses_pandas where bdrms = 2', con=conn)