## Laboratorio Arreglos y Matrices


Ejecuta la celda de abajo para cargar los paquetes requeridos

In [1]:
import numpy as np
import pandas as pd

### Datos de ventas

Para este lab vamos a estar usando una versi√≥n de datos de ventas de vinos en diferentes sucursales (archivo ```volumen_ventas_producto_sucursal.csv```) y el precio de cada vino (```precio_producto.csv```)

#### Importar Ventas

In [6]:
volumen_ventas_producto_sucursal = pd.read_csv('../Data/volumen_ventas_producto_sucursal.csv')
volumen_ventas_producto_sucursal

,producto,Sucursal 1,Sucursal 2,Sucursal 3,Sucursal 4,Sucursal 5,Sucursal 6,Sucursal 7
0,Malbec,429,106,437,177,200,412,309
1,Cabernet,244,111,282,238,144,198,331
2,Syrah,374,278,241,408,177,381,237
3,Caberne Franc,449,291,461,484,452,388,466
4,Merlot,222,494,436,252,161,187,337
5,Pinot noir,335,137,233,487,394,488,331

#### Importar precios

In [7]:
precio_producto = pd.read_csv('../Data/precio_producto.csv')
precio_producto

        producto  Precio
0         Malbec     208
1       Cabernet     216
2          Syrah     247
3  Caberne Franc     180
4         Merlot     180
5     Pinot noir     243

#### 1. Calcular la cantidad de unidades vendidas para cada sucursal

Utilizar la matriz_ventas y funciones de numpy.

Primero transformar el dataframe de pandas en un array con las funciones iloc y values

In [21]:
ventas = volumen_ventas_producto_sucursal.iloc[:,1:]
ventas

,Sucursal 1,Sucursal 2,Sucursal 3,Sucursal 4,Sucursal 5,Sucursal 6,Sucursal 7
0,429,106,437,177,200,412,309
1,244,111,282,238,144,198,331
2,374,278,241,408,177,381,237
3,449,291,461,484,452,388,466
4,222,494,436,252,161,187,337
5,335,137,233,487,394,488,331

#### 2. Calcular la cantidad de unidades vendidas para cada producto

Utilizar la matriz_ventas y funciones de numpy

In [22]:
ventas.sum(axis=0)

Sucursal 1    2053
Sucursal 2    1417
Sucursal 3    2090
Sucursal 4    2046
Sucursal 5    1528
Sucursal 6    2054
Sucursal 7    2011
dtype: int64

#### 3. Calcular cu√°l es el producto que m√°s vendi√≥ cada sucursal
Tip: usar np.argmax

In [78]:
matriz_ventas = ventas.values
max_ventas_por_sucursal = np.argmax(matriz_ventas, axis=0)
max_ventas_por_sucursal
sucursales = np.array(list(ventas))

productos = volumen_ventas_producto_sucursal["producto"].values
list(zip(sucursales, productos[max_ventas_por_sucursal] ))

[('Sucursal 1', 'Caberne Franc'),
 ('Sucursal 2', 'Merlot'),
 ('Sucursal 3', 'Caberne Franc'),
 ('Sucursal 4', 'Pinot noir'),
 ('Sucursal 5', 'Caberne Franc'),
 ('Sucursal 6', 'Pinot noir'),
 ('Sucursal 7', 'Caberne Franc')]

#### 4. Calcular cu√°l es la sucursal que m√°s vendi√≥ cada producto
Tip: usar np.argmax

In [79]:
max_producto_by_sucursal = np.argmax(matriz_ventas, axis=1)
sucursales = np.array(list(ventas))
list(zip(productos, sucursales[max_producto_by_sucursal]))

[('Malbec', 'Sucursal 3'),
 ('Cabernet', 'Sucursal 7'),
 ('Syrah', 'Sucursal 4'),
 ('Caberne Franc', 'Sucursal 4'),
 ('Merlot', 'Sucursal 2'),
 ('Pinot noir', 'Sucursal 6')]

#### 5. Calcular la facturaci√≥n para cada sucursal

Utilizando multiplicaci√≥n matricial (matriz_ventas, matriz_precios) obtener la facturaci√≥n para cada sucursal (es decir la sumatoria de cantidad vendidada * precio para cada producto).

Nota: Se deber√° utilizar la funci√≥n matriz.transpose() para poder realizar la multiplicaci√≥n matricial, dado que dos matrices A de forma (p,q) y B de forma (r,s) solo se puede multplicar si q=r

In [98]:
matriz_ventas
precios = precio_producto.iloc[:,1].values
facturacion = matriz_ventas.transpose()*precios
facturacion

array([[ 89232,  52704,  92378,  80820,  39960,  81405],
       [ 22048,  23976,  68666,  52380,  88920,  33291],
       [ 90896,  60912,  59527,  82980,  78480,  56619],
       [ 36816,  51408, 100776,  87120,  45360, 118341],
       [ 41600,  31104,  43719,  81360,  28980,  95742],
       [ 85696,  42768,  94107,  69840,  33660, 118584],
       [ 64272,  71496,  58539,  83880,  60660,  80433]])

In [104]:
facturacion_por_sucursal = facturacion.sum(axis=1)
list(zip(sucursales, facturacion_por_sucursal))

[('Sucursal 1', 436499),
 ('Sucursal 2', 289281),
 ('Sucursal 3', 429414),
 ('Sucursal 4', 439821),
 ('Sucursal 5', 322505),
 ('Sucursal 6', 444655),
 ('Sucursal 7', 419280)]